# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
#.dll
#.dylib
*.pdb
*.suo
*.sdf
*.opensdf
*.pch

# Qt-es
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
.qmake.stash
*-build-*

*.obj
*.manifest
*.res
*.tlog
*.log
*.exe
*.exp

# Mac
*.DS_Store
*.o
*.o-i386
*.o-x86_64
Makefile.Debug
Makefile.Release

# Windows
#*.sln  # we DO want to save VS solution files, similar as we save .pro files
#*.vcxproj
*.vcxproj.filters
.vs/
IPL/x64/
ImagePlay/x64/

# temporary and html doc files
intermediate/
_doc/
_bin/
.settings/
ImagePlay.VC.db

# release-related dirs
IPL/release/
IPL/debug/
IPL/lib/
ImagePlay/object_script.ImagePlay.Debug
ImagePlay/object_script.ImagePlay.Release
object_script.IPL.Debug
object_script.IPL.Release
_fervor/out/

